{% extends 'blog/base.html' %}
{%block body_block%}
<h1 class="display-4  text-center"><strong>My Post</strong></h1>
 <hr>
<div class="container text-center"></div>
{%for post in post_list %}
{% if user.username == post.author.username %}
    <div class="row mb-3 p-2 blogBox">
        <div class="col-9">
            <figure class="">
                <blockquote class="blockquote text-center">
                    <h4><a href="{% url 'post_detail' pk=post.pk %}"><p>{{post.title}}</p></a></h4>
                </blockquote>
                <figcaption class="blockquote-footer mt-2">
                  Posted by <cite title="Source Title"><strong>{{post.author}}</strong></cite>
                </figcaption>
              </figure>
        </div>
    <div class="col-3">
        <p>{{ post.publish_time|date:"F j, Y" }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments:{{post.approve_comment.count}}</a>
    </div>
    </div>
{%endif%}
{%endfor%}
</div>
{%endblock%}