a{
    text-decoration: none !important;
}

.content {
    font-size: 1.2rem;
}

.title {
    text-align: center;
}

.tox-tinymce {
    border-radius: 10px !important;
}
label{
    display: none !important;
}
ul.errorlist.nonfield {
    list-style-type: none;
    color: red;
}
ul {
    list-style: none;
  }
.commentBox{
    border: 1px solid #cbcbcb59;
    border-radius: 10px;
}

.blogBox{
    border: 1px solid #cbcbcb59;
    border-radius: 10px;

}
nav{
    background: #0088ff2b;
    border: 1px solid #0088ff4f;
    border-radius: 10px;
}

.bcol{
    background-color: #0088ff2b;
    border-radius: 10px 10px 0px 0px;
}

.logBox {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 100px auto;
    border: 1px solid #8686862b;
    border-radius: 10px 
}
.form-control {
    margin-bottom: 5px;
}

.inputbox{
    position: relative;
}
p#emailAvailability {
    position: absolute;
    bottom: -14px;
    font-size: 14px;
    color: red;
}
.img-fluid{
    border-radius:10px;
}
.stats {
    cursor: default;
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;
    line-height: 35px;
}
.stats li {
    border-left: solid 1px rgba(160, 160, 160, 0.3);
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.25em;
    margin: 0 0 0 2em;
    padding: 0 0 0 2em;
    text-transform: uppercase;
   
}
.blg{
    border-radius: 10px;
    background-color:#0088ff2b;
}
.actions{
    height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
}